# Do not count any database releated file in git
dataset/
__pycache__/
# Ignore all the model output files since they are too big to push
*.h5
.vscode/
data/
outdata/
recordbase_old/
recordbase_broken_old/
recordbase/
recordbase.zip